* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f1117;
    color: white;
    font-family: Inter, sans-serif;
    height: 100vh;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 900px;
    height: 90vh;

    display: flex;
    flex-direction: column;
}

#welcome {
    text-align: center;
    margin-top: 120px;
}

#welcome h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

#welcome p {
    color: #8d95a3;
    font-size: 1.1rem;
}

.messages {
    flex: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    gap: 15px;

    padding: 40px;
}

.message {
    max-width: 650px;
    width: fit-content;

    padding: 15px;
    border-radius: 16px;

    line-height: 1.7;
    white-space: pre-wrap;
}

.user {
    align-self: flex-end;

    background: #cf6b6b;

    border-bottom-right-radius: 4px;
}

.ai {
    align-self: flex-start;

    background: #1b2029;

    border-bottom-left-radius: 4px;
}

.input-wrapper {

    display: flex;

    align-items: center;

    gap: 10px;

    margin: 20px;

    padding: 12px;

    border: 1px solid #2d3442;

    border-radius: 20px;

    background: #11151d;
}

textarea {

    flex: 1;

    resize: none;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    font-size: 16px;

    min-height: 40px;

    max-height: 120px;
}

button {
    transition: 0.2s;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 12px;

    background: #d06c6c;

    color: white;

    font-size: 20px;

    cursor: pointer;
}

button:hover {
    transform: translateY(-2px);
}